name: Deploy
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install
        run: npm ci
      - name: build
        run: npm run build
      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v1.0.7
        with:
          path: dist/
      - name: Deploy GitHub Pages site
        uses: actions/deploy-pages@v1.2.3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
